{% extends "layout.html" %}
{% block content %}
<form action='/add/submit' method='post'>
  <div class="form-group">
    <label for="pageTitle">PAGE TITLE</label>
    <input name="pageTitle" type="text" class="form-control" id="pageTitle" placeholder="Enter Page Title">
  </div>
  <div class="form-group">
    <label for="pageContent">PAGE CONTENT</label>
    <textarea name="pageContent" class="form-control" rows="5" id="pageContent"></textarea>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}