{% extends "layout.html" %}

{% block content %}
    <h1>{{title}}</h1>

    {% if docs.length > 0 %}
      <div class="wiki-list">
      {% for doc in docs %}
        <div class='wiki-list-item group'>
          <div class="wiki-list-item-info">
            <h2>{{ doc | page_link }}</h2>
          </div> 
          {% if user %}
          <div class="wiki-list-item-action"> 
            {{ doc | edit_page_link  }}
            {{ doc | delete_page_link  }}
          </div>
          {% endif %}
        </div>
      {% endfor %}
      </div>
    {% else %}
      There are no pages. Why don't you <a href='/add'>add one</a>?
    {% endif %}
    

{% endblock %}
